body {
    font-family: sans-serif;
}

il {
    display: block;
    margin-bottom: -2px;
}

/* .boxx { */
/*     display: inline; */
/*   /\* float: left; *\/ */
/*   height: 1em; */
/*   width: 1em; */
/*   margin-bottom: 15px; */
/*   /\*border: 1px solid black; *\/ */
/*   /\* clear: both; *\/ */
/* } */

.faction {
    border: 1px solid;
    border-color: black;
    min-width: 10em;
}

.red {
    background-color: rgb(240, 128, 128);
}

.green {
    background-color: rgb(128, 240, 128);
}

.blue {
    background-color: rgb(96, 192, 240);
}

.yellow {
    background-color: rgb(240, 240, 128);
}

.grey {
    background-color: rgb(192, 192, 192);
}

.black{
    background-color: rgb(64, 64, 64);
    color: rgb(192, 192, 192);
}
.black:hover{
    color: rgb(192, 192, 192);
}

.ice{
    background-color: rgb(224, 240, 255);
}

.fire{
    background-color: rgb(240, 192, 96);
}

.null{
    background-color: white;
}

button {
    min-width: 10em;
}
